<div
    style="z-index: 2;
    position: absolute;
{#    background-color: pink;#}
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;">
    {{ include('@Home/home/sub/iconExplanation/search.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/configuration.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/video.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/media.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/artist.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/profile.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/list.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/datamining.html.twig') }}
    {{ include('@Home/home/sub/iconExplanation/create.html.twig') }}
    
{#    {{ include('@Home/a_List/list.html.twig') }}#}
{#    {{ include('@Home/c_Upload/upload.html.twig') }}#}
{#    {{ include('@Home/d_Premium/premium.html.twig') }}#}
{#    {{ include('@Home/e_Advertising/advertising.html.twig') }}#}
{#    {{ include('@Home/g_SearchEngine/searchEngine.html.twig') }}#}


    
</div>
    
<div id="backgroundOptionsContent" 
     style='
     position: absolute;
{#     opacity: 0.3;#}
     z-index: 1;
{#     background-color: gray;#}
     width: 420px;
     top: 0px;
     bottom: 0px;
     right: 0px;'>
</div>